img {
    width: 375px;
    float: left;
    padding: 15px;
}
.namebox {
    background-color: teal;
    padding: 15px;
    font-size: 30pt;
}

.rightside {
    color:gray !important;
}
body {
    background-image: url(https://www.wallsauce.com/uploads/wallsauce-com/images/products/web/Imagesource/large/is098qz41.jpg);
    min-height: 100vh;
}
.container {
    background: white;
}
p {
    font-size: 20px;
}
h1 {
    color: teal;
    padding: 15px;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 4px solid rgba(0, 0, 0, 0.1);
  }
.full {
    height: 100vh;
}
.footer {
    background-color: slategray;
    color: white;
    padding: 15px; 
}